HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 환경설정 ###
/src/main/resources/application.properties

# uploads 하위 폴더 안의 모든 파일 제외
/src/main/resources/static/uploads/*/*

# 단, .gitkeep 파일은 추적 허용 (빈 폴더 유지하기)
!/src/main/resources/static/uploads/**/.gitkeep