<!DOCTYPE html>
<html lang="en" layout:decorate="~{include/user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <!-- /* view 화면 html 코드 작성 부분 */ -->
    <div class="page_title mb-4">
        <a href="/free/list" class="d-inline-flex align-items-baseline">
            <small class="text-danger">커뮤니티<i class="fa-solid fa-chevron-right fs-xs"></i></small>
        </a>
        <h3 class="memomentKkukkkuk fw-normal mt-2">게시글 보기</h3>
    </div>
    <div class="board_area">
        <div class="card rounded-3">
            <div class="card-body">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <td class="tb_title border-bottom pb-3 px-0">
                            <div class="d-flex gap-2 flex-nowrap align-items-end mb-2">
                                <div class="d-flex gap-2 flex-nowrap align-items-center">
                                    <p th:text="${freeBoard.btype}" class="badge"
                                       th:classappend="${freeBoard.btype == '자유'} ? ' badge-success' : (${freeBoard.btype == '정보'} ? ' badge-info' : ' badge-secondary')">
                                    </p>
                                </div>
                                <div class="d-flex gap-1 flex-nowrap ms-auto">
                                    <div class="col-6 col-md-auto ms-md-auto">
                                        <a class="btn btn-gray" href="/free/list">목록</a>
                                    </div>
                                    <a th:href="|@{/free/modify(bno=${freeBoard.bno},mode=2)}|" class="btn btn-info">수정</a>
                                    <a th:href="@{/free/remove(bno=${freeBoard.bno},mode=2)}" class="btn btn-danger">삭제</a>
                                </div>
                                <!-- // 로그인 사용자 == 글작성자 같을 경우만 노출 끝 -->
                            </div>
                            <h4 class="py-2" th:text="${freeBoard.title}"></h4>
                            <div class="d-flex gap-2 flex-nowrap text-secondary">
                                <p>[[${#temporals.format(freeBoard.updateDate, 'yyyy.MM.dd HH:mm')}]]</p>
                                <p class="ms-auto"><i class="fa-regular fa-eye me-1"></i>[[${freeBoard.readcount}]]</p>
                                <p id="">
                                    <i id="likeIcon"
                                       th:class="${freeBoard.likecount >= 1} ? 'fa-solid fa-heart me-1 text-danger' : 'fa-regular fa-heart me-1 text-danger'"></i>
                                    <span id="likeCount">[[${freeBoard.likecount}]]</span>
                                </p>
                                <p><i class="fa-regular fa-comment-dots me-1"></i>8</p>
                            </div>
                        </td>
                    </tr>
                    </thead>
                </table>
                <tbody>
                    <!-- 첨부파일이 있으면 노출 -->
                    <tr class="mb-3">
                        <td>
                            <span class="input-group-text">첨부파일</span>
                            <div class="col" th:if="${freeBoard.freeFileDTOS !=null && freeBoard.freeFileDTOS.size()>0}">
                                <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap">
                                    <div th:each="freeDTO:${freeBoard.freeFileDTOS}">
                                        <div th:if="${freeDTO.image}">
                                            <img class="mb-3" th:src="|/uploads/free/s_${freeDTO.uuid}_${freeDTO.filename}|">
                                            <span th:text="${freeDTO.filename}"></span>
                                        </div>
                                        <div th:unless="${freeDTO.image}">
                                            <img class="mb-3" src="/uploads/free/images/file.jpg" width="100" height="100">
                                            <span th:text="${freeDTO.filename}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    <tr>
                        <td class="px-0 py-3">
                            <div class="tb_content">[[${freeBoard.content}]]</div>
                        </td>
                    </tr>
                    <hr/>
                    <tr>
                        <td class="px-0 py-3">
                            <div th:align="center">
                                <button type="button" class="btn btn-outline-danger" id="likeBtn">좋아요!</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="px-0 pt-3">
                            <p><i class="fa-regular fa-comment-dots me-1"></i>댓글 <b class="text-danger">[[${freeBoard.replycount}]]</b></p>
                            <div class="reply_list_area">
                                <ul class="replyList"></ul>
                            </div>
                            <div>
                                <ul class="pagination replyPaging"></ul>
                            </div>
                            <div class="replyModal">
                                <div class="reply_write_area pt-3">
                                    <div class="mb-2">
                                        <textarea name="replyText" class="replyText form-control" placeholder="댓글 내용을 입력해주세요(최대 1000자)"></textarea>
                                    </div>
                                    <div class="d-flex">
                                        <button type="button" class="btnReplyRegister ms-auto btn btn-main">댓글 쓰기</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal modifyModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control modifyText">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark modifyCloseBtn">닫기</button>
                                            <button type="button" class="btn btn-primary modifyBtn2">수정</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="pagescript" th:inline="javascript">
    //좋아요 버튼 누르면 recommend 수 증가
    $(document).ready(function(){
        $('#likeBtn').on('click', function (){ // likeBtn을 누르면 함수
            const bno = [[${freeBoard.bno}]]
            $.ajax({
                url : "/free/like",
                type : "GET",
                data : { bno : bno},
                success : function(response){
                    console.log(response);
                    // 업데이트 된 레코맨드 수 가져오기
                    var likecount = response.likecount;
                    $('#likeCount').text(likecount);

                    //추천 수가 0에서 1이 되면 하트 아이콘이 빈하트 -> 꽉 찬 하트로 변화
                    if(likecount > 0){
                        $('#likeIcon').removeClass('fa-regular').addClass('fa-solid');
                    } else {
                        $('#likeIcon').removeClass('fa-solid').addClass('fa-regular');
                    }
                }
            })
        })
    })

    // 댓글
    const bno = [[${freeBoard.bno}]]
    const replyList = document.querySelector(".replyList")
    const replyPaging = document.querySelector(".replyPaging")
    const boardUsername = [[${freeBoard.username}]]
    const loginUser = [[${#authentication.principal.username}]]

    function printList(dtoList){
        let str = '';
        if(dtoList && dtoList.length>0){
            for(let dto of dtoList){
                str += `<li class="reply_list border-bottom" data-rno="${dto.rno}">
                                            <div class="d-flex justify-content-start align-items-start gap-2 py-2">
                                                <div class="flex-grow-1">`
            }if(dto.deleted === true){
                str += `<div class="replyContent">삭제된 댓글입니다.</div>`}

            str += `</div>
                        <div class="flex-shrink-1">
                            <div class="btn-group">
                                ${dto.deleted === false ? `
                                <button type="button" class="btn btn-xs rounded-2 btn-outline-gray" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item modifyBtn" href="">수정</a></li>
                                    <li><a class="dropdown-item deleteBtn" href="">삭제</a></li>
                                    <li><a class="btnReReplyWriteView dropdown-item">대댓글 달기</a></li>
                                </ul>`: ''}
                            </div>
                        </div>
                    </div>
                </li>`;
        }
    }
    replyList.innerHTML=str
    }

</script>