@charset "UTF-8";

@font-face {
    font-family: 'memomentKkukkkuk';
    src: url('/fonts/memomentKkukkkuk.woff2') format('woff2'), url('/fonts/memomentKkukkkuk.woff') format('woff');
}


:root {
    --header-height: 80px;
    --footer-height: 130px;
}

body {
    overflow-x: hidden;
}

.memomentKkukkkuk {
    font-family: 'memomentKkukkkuk';
}

/* header - common */
.header {
    background: #ffffff;
    border-bottom: 1px solid var(--bs-border-color);
    color: var(--bs-emphasis-color);
}
.header .container-fluid {
    position: relative;
    min-width: 340px;
    max-width: 1200px;
    transition: font-size 0.3s;
}
.header .container-fluid {
    height: var(--header-height);
}


/* header */
.header {
    position: fixed;
    z-index: 999;
    top: 0;
    display: block;
    width: 100%;
}

.header .logo {
    position: absolute;
    left: calc(var(--bs-gutter-x)* 0.5);
    top: 50%;
    transform: translateY(-50%);
    max-width: 177px;
    width: 100%;
}
.header .logo img {
    display: block;
    width: 100%;
}

.header nav .gnb {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    width: 520px;
    max-width: calc(100% - 440px);
    justify-content: space-around;
    align-items: start;
}
.header nav .gnb > li {
    position: relative;
    display: block;
}
.header nav .gnb > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 12px 14px;
}
.header nav .gnb > li > a > .icon-wrap {
    width: 24px;
    height: 24px;
    font-size: 20px;
    transition: font-size 0.3s ease;
}
.header nav .gnb > li > a > span {
    text-align: center;
    font-family: 'memomentKkukkkuk';
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    transition: color 0.15s;
}

.header nav .gnb > li:hover > a > .icon-wrap {
    color: var(--bs-primary);
    font-size: 24px;
}


/* sign */
.header .sign {
    position: absolute;
    right: calc(var(--bs-gutter-x)* 0.5);
    top: 26.5px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
}
.header .btn_menu {
    display: none;
}

/******************** footer ********************/
.footer {
    padding: 30px 0 40px;
    height: var(--footer-height);
    background: #222;
}
.footer_logo{
    width: 120px;
}
.footer_logo > img {
    display: block;
    opacity: 0.8;
    width: 100%;
}
.footer p {
    font-size: 0.875rem;
    color: var(--bs-gray-500);
}


/* quick_menu */
.quick_menu {
    position: fixed;
    z-index: 99;
    right: 1rem;
    bottom: 1.5rem;
    transition: all 0.3s;
}
.quick_menu.bottom {
    bottom: 257px;
}
.quick_menu li {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.quick_menu li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    background: #c3bbae;
    color: var(--bs-reverse-emphasis-color);
    transition: all 0.3s;
}
.quick_menu li:hover a {
    color: var(--bs-secondary);
}
.quick_menu li:first-child a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.quick_menu li.btn_go_top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    width: 68px;
    height: 68px;
    background: var(--bs-secondary);
    color: var(--bs-reverse-emphasis-color);
    border-radius: 100px;
    cursor: pointer;
}
.quick_menu li .icon-wrap {
    width: 24px;
    height: 24px;
}
.quick_menu li p {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}


/******************** Swiper ********************/

.mvSwiper .swiper-slide {
    width: 80%;
    max-width: 1174px;
    margin: 48px 20px 0;
}

.mvSwiper .swiper-slide > a {
    display: block;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.noticeSwiper {
    width: 100%;
    height: 24px;
}

.noticeSwiper .swiper-slide{
    height: 24px;
}

/* freeSwiper */
.freeSwiper {
    padding: 0 16px;
}
.freeSwiper .swiper-slide {
    width: 28%;
}
.item_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.card__img {
    position: relative;
    width: 100%;
    height: 240px;
    border-radius: 16px;
    overflow: hidden;
}
.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card__img .category_badge {
    position: absolute;
    left: 12px;
    top: 8px;
}
.card__img .options {
    position: absolute;
    right: 12px;
    bottom: 8px;
}
.card__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

/******************** Common ********************/
#main_container {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - var(--footer-height));
    padding-top: var(--header-height);
}
#main_container > .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main_board_list .section_content > ul > li:nth-child(n+5) {
    display: none;
}

.img_wrap {
    max-width: 800px;
    width: 100%;
}
td img {
    display: block;
    width: 100%;
}

.free_thumb {
    width: 109px;
    height: 109px;
    border-radius: 8px;
    overflow: hidden;
}
.thumb_40x40 {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
}
.free_thumb > img,
.thumb_40x40 > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.no_thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--bs-gray-200);
}
.no_thumb > i {
    font-size: 2.5em;
    color: var(--bs-reverse-emphasis-color);
}

.free_title {
    max-height: 44px;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

