@charset "UTF-8";

@media all and (max-width: 1400px) { /* breakpoints-xxl */
}
/* breakpoints-xxl 1400 끝 */

@media all and (max-width: 1200px) { /* breakpoints-xl */

}
/* breakpoints-xl 1200 끝 */



@media all and (max-width: 992px) { /* breakpoints-lg */
    .header .logo {
        width: 140px;
    }
    .header nav .gnb {
        gap: 8px;
        justify-content: center;
        align-items: start;
    }

    .mvSwiper .swiper-slide {
        margin: 48px 12px 0px;
    }

}
/* breakpoints-lg 992 끝 */



@media all and (max-width: 768px) { /* breakpoints-md */
    :root {
        --header-height: 60px;
        --footer-height: 120px;
    }

    /* header change */
    .header .container-fluid {
        height: var(--header-height);
    }
    .header nav {
        position: absolute;
        z-index: 999;
        left: -100%;
        top: var(--header-height);
        width: 100%;
        height: calc(100vh - var(--header-height));
        background: #f9f9f9;
        overflow-y: auto;
        /* scrollbar 숨기기 */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .header nav::-webkit-scrollbar {
        /* chrome에서 scrollbar 숨기기 */
        display: none;  /* Safari and Chrome */
    }
    .header nav .gnb {
        position: static;
        left: unset;
        top: unset;
        transform: none;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0;
    }
    .header nav .gnb > li {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .header nav .gnb > li:last-of-type {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .header nav .gnb > li > a {
        width: 100%;
    }
    .header nav .gnb > li > a > .icon-wrap {
        display: none;
    }
    .header nav .gnb > li.on > a {
        background: rgba(var(--bs-secondary-rgb),1);
        color: #000000;
        font-weight: 800;
    }

    .header .sign {
        position: fixed;
        z-index: 99999;
        right: 68px;
        top: 16.5px;
    }
    .header .btn_menu {
        display: block;
        position: absolute;
        right: calc(var(--bs-gutter-x)* .5);
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .mvSwiper .swiper-slide {
        width: 100%;
        margin: 0;
    }
    .mvSwiper .swiper-slide > a {
        border-radius: 0;
    }

    .freeSwiper .swiper-slide {
        width: 40%;
    }

    .free_thumb {
        width: 114px;
        height: 114px;
    }
    .free_title {
        max-height: 22px;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}
/* breakpoints-md 768 끝 */



@media all and (max-width: 576px) { /* breakpoints-sm */
    .freeSwiper .swiper-slide {
        width: 80%;
    }
}
/* breakpoints-sm 576 끝 */



@media all and (max-width: 450px) {
    html {
        font-size: 14px;
    }

    /* header */
    .header .logo {
        max-width: 130px;
    }
    .header .sign {
        top: 17.65px;
    }
    .main_header .gnb > li > a > p {
        font-size: 1.125rem;
    }
    .free_thumb {
        width: 102px;
        height: 102px;
    }


}

@media all and (max-width: 340px) {
    .header .sign {
        left: 168px;
        right: unset;
    }
}