<!DOCTYPE html>
<html lang="en" layout:decorate="~{include/user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="main_visual">
  <section class="main_visual">
    <div class="swiper mvSwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <a href="">
            <img alt="" src="/images/TPL06363_Banner_Template.jpg">
          </a>
        </li>
        <li class="swiper-slide">
          <a href="">
            <img alt="" src="/images/TPL07070_Banner_Template.jpg">
          </a>
        </li>
        <li class="swiper-slide">
          <a href="">
            <img alt="" src="/images/TPL08674_Banner_Template.jpg">
          </a>
        </li>
        <li class="swiper-slide">
          <a href="">
            <img alt="" src="/images/TPL10689_Banner_Template.jpg">
          </a>
        </li>
        <li class="swiper-slide">
          <a href="">
            <img alt="" src="/images/TPL12238_Banner_Template.jpg">
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
<div layout:fragment="content">
  <div class="row row-cols-1 row-cols-md-2">
    <!-- SPR BOARD -->
    <section class="main_board_list col mb-3 mb-md-4">
      <div class="card rounded-4 h-100">
        <div class="card-body p-4">
          <div class="section_title mb-2 mb-md-3">
            <h4 class="memomentKkukkkuk fw-normal"><i class="fa-solid fa-bag-shopping text-primary"></i> 사고팔개</h4>
            <small class="text-secondary">필요없는 물건은 나누고, 공동구매로 저렴하게! 사기꾼은 신고해요</small>
          </div>
          <div class="section_content">
            <ul>
              <li th:if="${#lists.isEmpty(sprBoard)}">
                <div class="py-2">
                  <p class="text-secondary">게시글이 없어요</p>
                </div>
              </li>
              <li th:each="board:${sprBoard}" th:unless="${#lists.isEmpty(sprBoard)}">
                <div class="border-bottom">
                  <div class="row py-3">
                    <div class="col-12">
                      <div class="mb-1">
                        <div class="d-flex gap-2 flex-nowrap mb-1">
                          <p class="badge badge-success">[[${board.category}]]</p>
                          <!-- 나눔 / 공구 카테고리일 때 진행중 / 완료 표시 뱃지 -->
                          <p class="badge badge-info" th:if="${board.category == '나눔' || board.category == '공구'} and ${board.complete == false}">[[${board.category}]]중</p>
                          <p class="badge badge-info" th:if="${board.category == '나눔' || board.category == '공구'} and ${board.complete == true}">[[${board.category}]]완료</p>
                          <!-- 표시 뱃지 끝 -->
                        </div>
                        <a th:href="@{/spr/view(bno=${board.bno}, mode=1)}" class="d-inline-flex align-items-center gap-1 flex-nowrap mb-1">
                          <span class="text-nowrap badge badge-danger ms-auto" th:if="${board.category == '공구'}">[[${board.dueDate}]]까지</span>
                          <h6 class="text-overflew-line-1">[[${board.title}]]</h6>
                        </a>
                      </div>
                    </div>
                    <div class="col">
                      <div class="d-flex gap-2 flex-nowrap text-secondary">
                        <p class="text-nowrap">[[${board.author}]]</p>
                        <p class="text-nowrap">[[${#temporals.format(board.regDate, 'MM-dd')}]]</p>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="d-flex gap-2 flex-nowrap text-secondary">
                        <p class="text-nowrap"><i class="fa-regular fa-eye me-1"></i>[[${board.readcount}]]</p>
                        <p class="text-nowrap" th:if="${board.recommend >= 1}"><i class="fa-solid fa-heart me-1 text-danger"></i>[[${board.recommend}]]</p>
                        <p class="text-nowrap" th:if="${board.recommend == 0}"><i class="fa-regular fa-heart me-1 text-danger"></i>[[${board.recommend}]]</p>
                        <p class="text-nowrap"><i class="fa-regular fa-comment-dots me-1"></i>[[${board.replyCount}]]</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer bg-transparent py-3 text-center">
          <a href="/spr/list">사고팔개 더보기<i class="fa-solid fa-chevron-right ms-1"></i></a>
        </div>
      </div>
    </section>
    <!-- // SPR BOARD END -->

    <!-- SITTER BOARD -->
    <section class="main_board_list col mb-3 mb-md-4">
      <div class="card rounded-4 h-100">
        <div class="card-body p-4">
          <div class="section_title mb-2 mb-md-3">
            <h4 class="memomentKkukkkuk fw-normal"><i class="fa-solid fa-bowl-food text-primary"></i> 돌보미 게시판</h4>
            <small class="text-secondary">시터가 필요한 누구나, 시터로 일하고싶은 누구나..!</small>
          </div>
          <div class="section_content">
            <ul>
              <li th:if="${#lists.isEmpty(sitterBoard)}">
                <div class="py-2">
                  <p class="text-secondary">게시글이 없어요</p>
                </div>
              </li>
              <li th:each="board:${sitterBoard}" th:unless="${#lists.isEmpty(sitterBoard)}">
                <div class="border-bottom">
                  <div class="row py-3">
                    <div class="col-12">
                      <div class="mb-1">
                        <div class="d-flex gap-2 flex-nowrap mb-1">
                          <p th:if="${board.category == '구해요'}" class="badge badge-warning">&#x1F440; 돌봄 구해요</p>
                          <p th:if="${board.category == '일해요'}" class="badge badge-danger">&#x1F525; 돌봄 일해요</p>
                          <p th:class="${board.state == '구인중' or board.state == '구직중' ? 'badge badge-info':'badge badge-success'}">[[${board.state}]]</p>
                          <p th:text="${board.petInfo == 'dog' ? '강아지' : '고양이'}" class="badge badge-outline-secondary"></p>
                        </div>
                        <a th:href="@{/sitter/view(bno=${board.bno}, mode=1)}" class="d-inline-flex align-items-center gap-1 flex-nowrap mb-1">
                          <span class="badge badge-gray">[[${board.sido}]]/[[${board.sigungu}]]</span>
                          <h6 class="text-overflew-line-1">[[${board.title}]]</h6>
                        </a>
                      </div>
                    </div>
                    <div class="col">
                      <div class="d-flex gap-2 flex-nowrap text-secondary">
                        <p class="text-nowrap">[[${board.nickname}]]</p>
                        <p class="text-nowrap">[[${#temporals.format(board.regDate, 'MM-dd')}]]</p>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="d-flex gap-2 flex-nowrap text-secondary">
                        <p class="text-nowrap"><i class="fa-regular fa-eye me-1"></i>[[${board.readCount}]]</p>
                        <p class="text-nowrap"><i class="fa-regular fa-comment-dots me-1"></i>[[${board.replyCount}]]</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-footer bg-transparent py-3 text-center">
          <a href="/sitter/list">돌보미 더보기<i class="fa-solid fa-chevron-right ms-1"></i></a>
        </div>
      </div>
    </section>
    <!-- // SITTER BOARD END -->
  </div>
</div>

<script layout:fragment="pagescript" th:inline="javascript">
    var swiper = new Swiper(".mvSwiper", {
        slidesPerView: 1,
        loop: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        breakpoints: {
            768: {
                slidesPerView: "auto",
                centeredSlides: true
            }
        }
    });

</script>