<!DOCTYPE html>
<html lang="en" layout:decorate="~{include/user}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
<!-- /* view 화면 html 코드 작성 부분 */ -->
    <div class="page_title mb-4">
        <a href="/spr/list" class="d-inline-flex align-items-baseline">
            <small class="text-danger">나눔/공구/신고 게시판 <i class="fa-solid fa-chevron-right fs-xs"></i></small>
        </a>
        <h3 class="memomentKkukkkuk fw-normal mt-2">게시글 보기</h3>
    </div>
    <div class="board_area">
        <div class="card rounded-3">
            <div class="card-body">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <td class="tb_title border-bottom pb-3 px-0">
                                <div class="d-flex gap-2 flex-nowrap align-items-end mb-2">
                                    <div class="d-flex gap-2 flex-nowrap align-items-center">
                                        <p class="badge badge-success">[[${board.category}]]</p>
                                        <!-- 나눔 / 공구 카테고리일 때 진행중 / 완료 표시 뱃지 -->
                                        <p class="badge badge-info" th:if="${board.category == '나눔' || board.category == '공구'} and ${board.complete == false}">[[${board.category}]]중</p>
                                        <p class="badge badge-info" th:if="${board.category == '나눔' || board.category == '공구'} and ${board.complete == true}">[[${board.category}]]완료</p>
                                        <!-- 표시 뱃지 끝 -->
                                    </div>
                                    <!-- 로그인 사용자 == 글작성자 같을 경우만 노출 -->
                                    <div class="d-flex gap-1 flex-nowrap ms-auto">
                                        <a th:href="@{/spr/remove(bno=${board.bno})}" class="btn btn-danger">삭제</a>
                                        <a th:href="@{/spr/modify(bno=${board.bno}, mode=2)}" class="btn btn-gray">수정</a>
                                    </div>
                                    <!-- // 로그인 사용자 == 글작성자 같을 경우만 노출 끝 -->
                                </div>
                            <h4 class="py-2">[[${board.title}]]</h4>
                                <div class="d-flex gap-2 flex-nowrap text-secondary">
                                    <p>[[${board.author}]]</p>
                                    <p>[[${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:dd')}]]</p>
                                    <p class="ms-auto"><i class="fa-regular fa-eye me-1"></i>[[${board.readcount}]]</p>
                                    <p th:if="${board.recommend >= 1}"><i class="fa-solid fa-heart me-1 text-danger" id="likeIcon"></i><span id="likeCount">[[${board.recommend}]]</span></p>
                                    <p th:if="${board.recommend == 0}"><i class="fa-regular fa-heart me-1 text-danger" id="likeIcon"></i><span id="likeCount">[[${board.recommend}]]</span></p>
                                    <p><i class="fa-regular fa-comment-dots me-1"></i>[[${board.replyCount}]]</p>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 첨부파일이 있으면 노출 -->
                        <tr>
                            <td class="px-0 py-3">
                                <ul>
                                    <li>
                                        <div class="img_wrap" th:if="${board.sprFileDTOs != null && board.sprFileDTOs.size() >0}">
                                            <div th:each="fileDTO:${board.sprFileDTOs}">
                                                <div th:if="${fileDTO.image}">
                                                    <img th:src="|/uploads/spr/s_${fileDTO.uuid}_${fileDTO.fileName}|">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <!-- 첨부파일이 있으면 노출 끝 -->
                        <tr>
                            <td class="px-0 py-3">
                                <div class="tb_content">[[${board.content}]]</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-0 py-3">
                                <div th:align="center">
                                    <button type="button" class="btn btn-outline-danger" id="likeBtn">좋아요!</button>
                                </div>
                                <div class="tb_content" th:align="right" th:if="${board.category == '공구'}">(마감일)[[${board.dueDate}]]</div>
                            </td>
                        </tr>



                        <tr>
                            <td class="px-0 pt-3">
                                <p><i class="fa-regular fa-comment-dots me-1"></i>댓글 <b class="text-danger">[[${board.replyCount}]]</b></p>
                                <div class="reply_list_area">
                                    <ul class="replyList"></ul>
                                </div>
                                <div>
                                    <ul class="pagination replyPaging"></ul>
                                </div>
                                <div class="replyModal">
                                    <div class="reply_write_area pt-3">
                                        <div class="mb-2">
                                            <textarea name="replyText" class="replyText form-control" placeholder="댓글 내용을 입력해주세요(최대 1000자)"></textarea>
                                        </div>
                                        <div class="d-flex">
                                            <label class="form-check-label" for="secret">비밀댓글</label>
                                            <input class="form-check-input secretCheck" name="secret" type="checkbox" id="secret">
                                            <button type="button" class="btnReplyRegister ms-auto btn btn-main">댓글 쓰기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal modifyModal" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control modifyText">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark modifyCloseBtn">닫기</button>
                                                <button type="button" class="btn btn-primary modifyBtn2">수정</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- /* //view 화면 html 코드 작성 끝 */ -->
</div>

<script layout:fragment="pagescript" th:inline="javascript">
    const bno = [[${board.bno}]]
    const replyList = document.querySelector(".replyList")
    const replyPaging = document.querySelector(".replyPaging")
    const boardUsername = [[${board.username}]]
    const loginUser = [[${#authentication.principal.username}]]

    function printList(dtoList){
        let str='';
        if(dtoList && dtoList.length>0){
            for(let dto of dtoList){
                str += `<li class="reply_list border-bottom" data-rno="${dto.rno}">
                                            <div class="d-flex justify-content-start align-items-start gap-2 py-2">
                                                <div class="flex-grow-1">`
                if(dto.deleted === true){
                    str += `<div class="replyContent">삭제된 댓글입니다.</div>`
                }else if(dto.secret === true){
                    if(dto.username === loginUser || boardUsername === loginUser){
                        str += `<b>${dto.author}</b><div class="replyContent">${dto.content}</div>`
                    }else{
                        str += `<div class="replyContent">비밀 댓글입니다.</div>`
                    }
                } else if(dto.secret === false){
                    str += `<b>${dto.author}</b><div class="replyContent">${dto.content}</div>`
                }
                str += `   </div>
                        <div class="flex-shrink-1">
                            <div class="btn-group">
                                ${dto.deleted === false ? `
                                <button type="button" class="btn btn-xs rounded-2 btn-outline-gray" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item modifyBtn" href="">수정</a></li>
                                    <li><a class="dropdown-item deleteBtn" href="">삭제</a></li>
                                    <li><a class="btnReReplyWriteView dropdown-item">대댓글 달기</a></li>
                                </ul>`: ''}
                            </div>
                        </div>
                    </div>
                </li>`;
            }
        }
        replyList.innerHTML=str
    }

    function printPages(data){
        if(!data.dtoList || data.dtoList.length === 0){
            replyPaging.innerHTML = ''
            return
        }
        let pageStr=''
        if(data.prev){
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start -1}"><i class="fa-solid fa-chevron-left"></i></a></li>`
        }
        for(let i = data.start; i <= data.end; i++){
            pageStr += `<li class="page-item ${Number(i) === Number(data.page)?"active":""}"><a class="page-link" data-page="${i}">${i}</a></li>`
        }
        if(data.next){
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end +1}"><i class="fa-solid fa-chevron-right"></i></a></li>`
        }
        replyPaging.innerHTML = pageStr
    }

    let page=1
    let size=10

    async function printReplies(bno, page, size, goLast){

        const response = await axios.get(`/sprreplies/list/${bno}`, {params:{page, size: Number(size)}})
        let data = response.data;

        if(goLast){
            const total = response.data.total;
            const lastPage = Math.ceil(total / size);
            return printReplies(bno, lastPage, size, false);
        }
        printList(data.dtoList)
        printPages(data);
    }
    printReplies(bno, page, size, false)

    const registerModal = new bootstrap.Modal(document.querySelector(".replyModal"))
    const registerBtn = document.querySelector(".btnReplyRegister")
    const replyText = document.querySelector(".replyText")


    replyPaging.addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        const target = e.target.closest('a')
        if(!target){
            return
        }
        const pageNum = Number(target.getAttribute("data-page"));
        page = pageNum
        printReplies(bno, page, size, false)
    },false)

    registerBtn.addEventListener("click", async function (e){
        const isSecret = document.querySelector(".secretCheck").checked

        const replyObj = {
            bno : bno,
            content : replyText.value,
            secret : isSecret ? 1:0,
            deleted : false
        }
        try{
            const response = await axios.post(`/sprreplies/`, replyObj);
            const result = response.data;

            replyText.value = '';
            document.querySelector(".secretCheck").checked = false;

            printReplies(bno, 1, 10, false);
        }catch (error){
            alert("댓글 입력 오류");
            console.log(error);
        }
    },false)

    const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"))
    const modifyText = document.querySelector(".modifyText")

    const modifyCloseBtn = document.querySelector(".modifyCloseBtn")

    replyList.addEventListener("click", async function (e) {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target.closest("a");
        if (!target) {
            return
        }
        const li = target.closest("li.reply_list")
        const rno = li.getAttribute("data-rno")
        if (target.classList.contains("modifyBtn")) {
            try {
                const response = await axios.get(`/sprreplies/${rno}`)
                const reply = response.data
                modifyText.value = reply.content
                modifyModal.show()
            } catch (err) {
                console.log(err)
            }
        }

        if (target.classList.contains("deleteBtn")) {
            try {
                await axios.post(`/sprreplies/delete/${rno}`)
                printReplies(bno, page, size, false)
            } catch (err) {
                console.log(err)
            }
        }


        const modifyBtn2 = document.querySelector(".modifyBtn2")
        modifyBtn2.onclick = async function () {
            const updatedContent = modifyText.value

            await axios.put(`/sprreplies/${rno}`, {
                rno: rno,
                content: updatedContent
            })

            modifyModal.hide();

            printReplies(bno, page, size, false);
        }
        modifyCloseBtn.onclick = function () {
            modifyModal.hide();
        }

    })





  /////// 대댓글 textarea toggle ///////
  function reReplyStr() {
      return `<div class="reReplyWriteArea">
                <div class="d-flex justify-content-start align-items-start gap-2 py-2">
                  <div class="flex-grow-1">
                    <div class="mb-2">
                      <textarea name="reReplyText" id="reReplyText" class="form-control" placeholder="대댓글 내용을 입력해주세요(최대 1000자)"></textarea>
                    </div>
                    <div class="d-flex">
                      <label class="form-check-label" for="secret1">비밀대댓글</label>
                      <input class="form-check-input secretCheck" name="secret" type="checkbox" id="secret1">
                      <button class="btnReReplyRegister ms-auto btn btn-main">대댓글 쓰기</button>
                    </div>
                  </div>
                  <div class="flex-shrink-1">
                    <button class="btnReReplyWriteClose btn btn-xs btn-outline-danger">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </div>
                </div>
              </div>`
  }



  // 좋아요 버튼 누르면 recommend 수 증가
  $(document).ready(function(){
      // likeBtn을 누르면 함수
      $('#likeBtn').on('click', function (){
          const bno = [[${board.bno}]]

          $.ajax({
              url : "/spr/like",
              type : "GET",
              data : { bno : bno},
              success : function(response){
                  console.log(response);
                  // 업데이트 된 레코맨드 수 가져오기
                  var recommend = response.recommend;
                  $('#likeCount').text(recommend);

                  //추천 수가 0에서 1이 되면 하트 아이콘이 빈하트 -> 꽉 찬 하트로 변화
                  if(recommend > 0){
                      $('#likeIcon').removeClass('fa-regular').addClass('fa-solid');
                  } else {
                      $('#likeIcon').removeClass('fa-solid').addClass('fa-regular');
                  }
              }
          })

      })
  })












</script>